:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --primary: #fb3453; */
  --primary: #72bf78;
  --header-height: 64px;
  --sider-width: 300px;
  --sider-collapsed-width: 80px;
}

@media (prefers-color-scheme: dark) {
  .form-card {
    padding: 16px 24px;
    border-radius: 8px;
    background-color: #222222;
    box-shadow: 0 0 24px 4px #fafafa40;
    overflow: hidden;
  }
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  align-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
}

.form-card {
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #eee;
  box-shadow: 0 0 24px 4px #fafafa40;
  overflow: hidden;
}

.section {
  /* background-color: #141414; */
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
}

.category-tag {
  color: #111;
  background-color: #eee;
  border-color: #eee;
  text-transform: capitalize;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.capitalize {
  text-transform: capitalize;
}

.cursor-pointer {
  cursor: pointer;
}

.mb-4 {
  margin-bottom: 16px;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.custom-tooltip {
  background-color: rgba(255, 255, 255, 0.9);
  color: #141414;
  padding: 4px;
  border-radius: 4px;
}

.link-text {
  color: #111;
  transition: all 0.2s linear;
}

.link-text:hover {
  color: #000;
  text-decoration: underline;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
